#main {
    position: relative;
    height: 100%;
    margin-top: 5px;
    flex-wrap: wrap;
}

.main_container {
    width: 100%;
    height: auto;
}

#total {
    width: auto;
    height: auto;
}

.bag {
    width: 96%;
    height: auto;
    margin-right: 5%;
    margin-left: 5%;
}

#main>div {
    font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
}

.bagLinks {
    position: relative;
    height: auto;
    font-size: 11px;
}

.chaining {
    font-size: 14px;
    text-decoration: none;
}

#col1 {
    padding-left: 2px;
    /* border: 1px solid yellow; */
    float: left;
    gap: 1px;
    margin-top: 1%;
}

.content_holder {
    padding: 2px 1px 2px 1px;
}

#col1>div {
    font-family: sans-serif;
    width: 80%;
    justify-content: center;
    border: 1px solid blue;
    height: auto;
    margin-left: 10%;
}

#container1 {
    overflow-y: visible;
    overflow-x: visible;
    padding: 0px 0px 7px 0px;
    background-image: initial;
}

@media only screen and (min-width: 760px) and (max-width: 1050px) {
    #col2 {
        width: 68%;
    }
}

#col2 {
    /* padding-left: 5px;
    padding-right: 5px; */
    align-items: right;
    float: left;
    width: 60%;
}

.a {
    text-decoration: none;
    font-size: 14px;
    padding: 10%;
    /* text-align: center; */
}

.b {
    text-align: left;
    /* margin-left: 20%; */
    margin-top: 4px;
    overflow: visible;
    overflow-wrap: normal;
    font-size: 14px;
}

.subhead2 {
    background-color: rgba(192, 186, 186, 0.872);
    width: 100%;
    margin: auto;
    height: 20px;
    margin-left: -10%;
    flex-wrap: wrap;
}

.no1 a {
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.col2_content {
    width: 100%;
}

.subheader {
    font-size: 14px;
    text-align: center;
    padding: 5px 2px 5px 2px;
    flex-wrap: wrap;
    background-color: rgba(196, 193, 193, 0.869);
}

.drop_down2 {
    width: 70%;
    height: auto;
    background-color: rgba(192, 186, 186, 0.872);
    justify-content: left;
    margin-left: 10%;
}

.col2_content_img {
    overflow: visible;
    width: 100%;
    /* display: flex; */
    justify-content: center;
}

.sort {
    justify-content: right;
}

#sorting {
    align-content: right;
    /* align-items: right; */
}

.col2_content_img2 {
    overflow: hidden;
    /* width: 100%; */
}

#product_container {
    border: 1px solid red;
    width: auto;
}

.anchor1 {
    text-decoration: none;
    width: 100%;
    margin: auto;
}

.anchor1>img {
    text-decoration: none;
    align-items: left;
    margin: 10px;
    height: 45px;
}

.container2 {
    height: 100%;
    margin-bottom: 7px;
}

.blocks {
    display: block;
    text-align: left;
    border-bottom: 1px solid rgb(51, 51, 51);
    height: 100%;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

#sub-menu>ul>li {
    font-size: 14px;
    /* text-align: center; */
}

.items {
    float: right;
    padding-top: 5px;
}

.selected_items {
    /* float: inline-start; */
    /* display: flex; */
    margin: auto;
}

.selected_items>span {
    margin: 0px;
    padding: 0px;
}

.num {
    margin-left: 7px;
}

#table_menu {
    padding-bottom: 7px;
    height: 100%;
}

#sports {
    padding-left: 10%;
    text-decoration: none;
    /* text-align: center; */
    font-size: 16px;
    margin: auto;
}

.subheading {
    height: 35px;
    margin: 0px;
    overflow: visible;
}

.subheading h2 {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 20px;
    padding: 0 0 0 20px;
    text-align: center;
}

.items {
    text-align: center;
}

.table {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.ul {
    margin-left: 10%;
}

.b {
    margin-left: 10%;
}

@media only screen and (min-width: 450px) and (max-width: 750px) {
    body {
        background-color: white;
    }
    #product_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
        margin: auto;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1050px) {
    body {
        background-color: antiquewhite;
    }
    #product_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4px;
        margin: auto;
    }
}

@media only screen and (min-width: 50px) and (max-width: 449px) {
    body {
        background-color: azure;
    }
    #product_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        margin: auto;
    }
}

#product_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    border: 1px solid red;
    /* grid-template-rows: repeat(3, 1fr); */
}

#product_container>div {
    margin: 4px;
    justify-content: center;
    margin: auto;
}

#product_container>div>div:nth-child(1) {
    height: auto;
    /* justify-content: center; */
    margin: auto;
    display: flex;
    /* justify-content: space-around; */
    /* width: 200px; */
}

.bagLinks>a+span {
    text-align: center;
}


/* //////////////////////////////////////////\\\\\\\\\\\\\DROp DOWN menu\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/* drop_down_menu = drop_down_btn */


/* drop_down_container = sub-menu */


/* sidenav = container1 */